header {

  padding-top: 120px;
  height: 520px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #b03800;
  background-image: url(http://www.transparenttextures.com/patterns/brushed-alum.png);
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */

}
img.headImage {
  border: 4px solid rgb(40, 28, 28);
}

span.headName {
  font-size: 35px;
  color: white;
  text-shadow: 0 1px 0 #ccc;

}