.new-tweet {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 8em;
  
}

label.tweetHeader {
  font-weight: bold;
}

textarea#tweet-text {
  display: flex;
  font-family: Source Sans Pro, sans-serif;
  outline: none;
  border-width: 0 0 4px;
  background-color: rgb(233, 234, 240);
  width: 100%;
  height: 60px;
  font-size: 40px;
  
}
:placeholder {
  font-weight: bold;
  margin-left: 50px;
  vertical-align: bottom;
  font-size: large;
}

div.errorMessage {
  font: 20px bold;
  margin-top: 5px;
  margin-bottom: 5px;
  color: firebrick;
  visibility: hidden;
  border-radius: 10px;
  align-items: center;
}

div.submit-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Bungee', cursive;
  color: blue
}

button.tweet-btn {
  color: rgb(72, 30, 197);
  background-color: #4056A1;
  border: none;
  width: 75%
}

button.tweet-btn:hover {
  color: rgb(74, 56, 175);
  background-color: #2b47a3;
  border: solid 2px #000;
}