#tweets-container {
  padding: 1em 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-bottom: 1em;
}

article:hover {
  border: 2px solid #5b5548;
  padding: 1em;
  margin-bottom: 1em;
  box-shadow: 3px 3px hwb(0 21% 74%);
}
.tweetHeader {
  display: flex;
  justify-content: space-between;
}

div.tweeterProfile {
  display: flex;
  align-items: center;
}

img.avatar {
  width: 2em;
  height: 2em;
}


.tweet-user-name {
flex-grow: 2;
  padding: 0 1em; 
   color: firebrick;

}


.button-row {
display: flex;
justify-content: space-between;



}

.button-tweet {

color:rgb(242, 242, 246);
background-color: #173db9;



}



output.counter {
  color:#1d1c1b;
}

output.counterRed {
  color:#f4190d;
}

footer {
  padding-left: 1em;
  padding-right: 1em;
  height: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

hr {
  height: 1em;
  width: auto;
  background-color: #af9595;
}

i.icons {
  color: #2b3e7e;
}

i.icons:hover {
  color: #32b58b;
}